body {
    font-family: 'Familjen Grotesk', sans-serif;
}

.blog_section {
    background-color: #000;/*background-color: #f5f5f5;*/
    padding: 50px 0;
    border: 1px solid green;
}

.w-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
    margin-top: 50px;
}

.h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: white;
}

.flex.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > div {
    padding: 20px;
}

.card-image img {
    max-width: 100%;
    height: auto;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-info p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.card-link {
    display: block;
    color: #222;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.card-cta-container {
    margin-top: -40px;
}

.card-cta {
    color: #5f98be;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.card-cta:hover {
    color: #088178;
}

.profile-name {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
}

.card-image.w-inline-block img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
}

.card-image.w-inline-block img:hover {
    transform: scale(1.1);
}


@media (max-width: 390px) {
    .card {
      width: 100%; 
      height: 300px;
      margin: 10px;
    }

    .card > div {
      padding: 10px;
    }

    .card-image img {
      max-width: 100%;
      margin-left: 23px;
    }

    .card-link{
      font-size: 12px;
      line-height: 15px;
      margin-left: 20px;
      margin-top: 15px;
    }

    .profile-name {
       font-size: 12px;
    }

    .w-container .h2 {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
    }

    .profile-info {      
      margin-bottom: 75px;
      margin-left: 20px;
    }

    .card-cta-container {
      margin-top: -70px;
      margin-left: 25px;
    }
}

@media (max-width: 400px) {
    .card {
      width: 100%; 
      height: 300px;
      margin: 10px;
    }

    .card > div {
      padding: 10px;
    }

    .card-image img {
      max-width: 100%;
      margin-left: 23px;
    }

    .card-link{
      font-size: 12px;
      line-height: 15px;
      margin-left: 20px;
      margin-top: 15px;
    }

    .profile-name {
       font-size: 12px;
    }

    .w-container .h2 {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
    }

    .profile-info {      
      margin-bottom: 75px;
      margin-left: 20px;
    }

    .card-cta-container {
      margin-top: -70px;
      margin-left: 25px;
    }
}

@media (width: 600px) {
    .card {
      max-width: 33.3%; 
      height: 300px;
      margin: 10px;
    }

    .card > div {
      padding: 10px;
    }

    .card-image img {
      max-width: 100%;
    }

    .card-link{
      font-size: 13px;
      line-height: 17px;
      margin-top: 5px;
    }

    .profile-name {
       font-size: 12px;
    }

    .w-container .h2 {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
    }

    .profile-info {      
      margin-bottom: 75px;
    }

    .card-cta-container {
      margin-top: -70px;
    }

    .profile-info p {
      font-size: 12px;
    }
}