/* General styles */
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header Navbar */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
    /*background: transparent;*/
    background-color: rgba(0, 0, 0, 0.4);
}

.main-header.hide {
    transform: translateY(-100px);
}

/* Logo */
.logo {
    width: 210px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* Desktop Menu */
.desktop-main-menu {
    margin-right: 50px;
}

.desktop-main-menu ul {
    display: flex;
}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 10px;
    padding-bottom: 2px;
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.7s;
}

/* Submenu styles */
.submenu {
    display: none; 
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    padding: 0;
    background: transparent;
    width: max-content;
}

ul.submenu  {
    background-color: rgba(0, 0, 0, 0.4);
}

.desktop-main-menu ul li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    width: 95px;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: #fff;
}

/* Submenu item bottom border */
.submenu li a::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.submenu li a:hover::after {
    transform: scaleX(1);
}

/* Styles for the submenu */
.has-submenu .submenu {
    display: none;
    position: absolute;
    top: calc(100% - 5px); 
    left: -5px; 
    padding: 0;
    width: max-content;
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu li:first-child {
    margin-top: 7px;
}