@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

img {
    width: 100%;
    display: block;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.product-div {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000;
    border-radius: 3px;
    column-gap: 10px;
}

.product-div-left {
    padding: 20px;
}

.product-div-right {
    padding: 20px;
}

.img-container img {
    width: 200px;
    margin: 0 auto;
}

.product-small-img img {
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}

.product-small-img img:hover {
    opacity: 1;
}

.product-small-img {
    float: left;
    margin-right: 20px;
}

.product {
    float: left;
}

.img-container {
    float: right;
    padding: 10px;
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-price {
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.product-rating span {
    margin-right: 6px;
}

.product-description {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-groups {
    margin-top: 22px;
}

.btn-groups button {
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: #ff9f00;
    border: 2px solid #ff9f00;
    margin-right: 8px;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #ff9f00;
}

.buy-now-btn {
    background-color: #000;
    border: 2px solid #000;
}

.buy-now-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Kenji Shop Info Block Styles */

.kenji_shop_info-block {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

.kenji_shop_info-block h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.kenji_shop_info-block p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.price-blocks {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.price-block {
    text-align: center;
    margin: 0 10px;
}

.separator {
    width: 1px;
    height: 90px;
    background-color: #fff;
    margin: 0 10px;
}

.additional {
/*    display: flex;*/
    justify-content: space-between;
}

.additional a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.additional a:hover {
    color: #777;
}







.physalislabs_shop_kenji_container {
  background-color: #000;
  color: #cccccc;
  font-family: "Nunito", sans-serif;
  width: 70%;
  border-radius: 7px;
  padding: 5%;
  margin: 5% auto;
}

.kenji_price_info {
  display: flex;
  justify-content: space-around;
}

.physalislabs_shop_kenji_robot_card {
  padding: 5% 10%;
  flex: 1;
}

.physalislabs_shop_kenji_robot_card.flex-item-left {
  border-right: 1px solid #fff;
}

.physalislabs_shop_kenji_robot_card h2 {
  font-weight: 600;
  font-size: 20px;
}

.physalislabs_shop_kenji_robot_card h4 {
  font-weight: 400;
  margin: 0;
}

.physalislabs_shop_kenji_robot_card span {
  font-weight: 200;
}

.physalislabs_shop_kenji_robot_card ul {
  padding-inline-start: 7%;
  margin: 20% 0;
}

.physalislabs_shop_kenji_robot_card ul li {
  font-weight: 200;
  text-transform: lowercase;
}
